<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
<h1>Cats EJS</h1>
<a href="/tiger"><img src="images/tiger.jpg" alt="tiger"></a>
<a href="/cheetah"><img src="images/cheetah.jpg" alt="cheetah"></a>
<a href="/lion"><img src="images/lion.jpg" alt="lion"></a>